@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;
}

:root {
    --primary: #e41736;
    --para: #342d42;
    --bg: #f7f7f7;
}

p {
    font-size: 16px;
    font-weight: 500;
    color: var(--para);
    line-height: 25px;
}

i {
    font-size: 19px;
    margin: 0 4px;
    color: var(--para);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.social-icons i:hover {
    color: var(--primary);
}

.buttons {
    margin: 34px 0 64px 0;
}

.btn {
    padding: 13px 23px;
    border-radius: 7px;
    border: 2px solid var(--primary);
    text-decoration: none;
    font-size: 15px;
    margin: 0 8px;
    font-weight: 500;
    color: var(--primary);
    transition: all .5s ease;
}

.btn:hover {
    background-color: var(--primary);
    color: #fff;
}

.heading {
    font-size: 22px;
    color: var(--primary);
    margin-bottom: 13px;
}

.para {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #342d42;
}

.flex {
    display: flex;
    align-items: center;
}

.flex i {
    font-size: 16px;
    margin-right: 9px;
    color: var(--primary);
}



/* --------  Navbar Section CSS  -------- */

.navbar {
    padding: 25px 18px;
    background-color: rgba(255, 255, 255, 0.537);
    backdrop-filter: blur(12px);
    position: fixed;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 99;
    border-radius: 50px;
    box-shadow: 4px 9px 19px rgba(51, 51, 51, 0.096);
}

.navbar .navlink {
    width: 45px;
    height: 45px;
    margin: 10px 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

.navlink.active {
    background-color: var(--para);
}

.navlink.active i {
    color: #fff;
    font-size: 18px;
}

.navbar i {
    font-size: 23px;
}




/* -------- Home Section Css --------- */

.home-section {
    width: 100%;
    height: auto;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 11% 0;
    position: relative;
}

.person-detail {
    text-align: center;
}

.designation {
    opacity: .9;
}

.name {
    font-size: 34px;
    color: var(--primary);
}

.social-icons,
.scroll-down {
    position: absolute;
    transform: rotate(90deg);
    bottom: 100px;
}

.social-icons {
    left: 7%;
}

.social-icons i {
    transform: rotate(-90deg);
}

.scroll-down {
    right: 7%;
    font-size: 17px;
}

.scroll-down::after,
.social-icons::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    border-radius: 10px;
    background-color: var(--para);
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .8;
}

.contact-btn {
    background-color: var(--primary);
    color: #fff;
}

.contact-btn:hover {
    background: none;
    color: var(--primary);
}

span {
    color: var(--primary);
    font-weight: 500;
}



/* --------  About Section Css --------- */

.about-section {
    width: 100%;
    height: auto;
    padding: 80px 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 65px;
}

.aboutimg-box {
    margin-right: 70px;
}

.my-details {
    display: flex;
    align-items: center;
    margin: 27px 0 35px 0;
}

.my-details p {
    line-height: 34px;
}

.my-details .details-attributes {
    margin-right: 30px;
}





/* --------  Services Section CSS  -------- */

.service-section,
.portfolio-section,
.contact-section,
.testi-section {
    width: 100%;
    height: auto;
    padding: 110px 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg);
}

.service-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-top: 80px;
}

.service-container .service-box {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 35px 20px;
    box-shadow: -2px 8px 35px rgba(51, 51, 51, 0.084);
    border: 2px solid #fff;
    transition: all .5s ease;
    cursor: pointer;
    background-color: #fff;
}

.service-box:hover {
    border: 2px solid var(--primary);
}

.service-box .number {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.5px solid var(--primary);
    font-size: 25px;
    display: grid;
    place-items: center;
    color: var(--primary);
    font-weight: 700;
    transition: all .5s ease-in-out;
}

.service-box .title {
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0 12px 0;
    color: var(--primary);
}

.service-box .para {
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 23px;
}

.service-box .service-btn {
    padding: 8px 20px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1.8px solid var(--primary);
}



/* --------  Portfolio Section CSS  -------- */

.portfolio-section {
    background-color: #fff;
}

.portfolio-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 80px;
}

.portfolio-container .img-box {
    overflow: hidden;
    height: 220px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: all .4s ease;
    border: 2px solid #fff;
}

.portfolio-container .img-box .img-title {
    position: absolute;
    left: 20px;
    bottom: -40px;
    color: var(--bg);
    font-weight: 500;
    transition: all .4s ease;
}

.portfolio-container .img-box:hover {
    border: 2px solid var(--primary);
}

.portfolio-container .img-box:hover .img-title {
    bottom: 15px;
}

.portfolio-container .img-box img {
    width: 100%;
    height: 100%;
    object-fit: fit;
    transition: all .4s ease;
}

.img-box:hover img {
    transform: scale(1.1);
    opacity: .8;
}



/* --------  Later Section CSS  -------- */

.later-section {
    width: 100%;
    height: auto;
    padding: 50px 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    color: #fff;
}

.later-section .text-area h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.later-section .text-area p {
    font-size: 15px;
    opacity: .8;
}

.later-section .later-btn {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 29px;
}

.later-section .later-btn:hover {
    border: 2px solid #fff;
    color: var(--primary);
    background-color: #fff;
}




/* --------  Testimonials Section CSS  -------- */

.testi-section {
    background-color: #fff;
}

.testi-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    margin-top: 80px;
}

.testi-container .testi-card {
    padding: 30px 30px 30px 60px;
    border: 1.5px solid var(--primary);
    border-radius: 5px;
    position: relative;
}

.testi-container .testi-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border: 1px solid var(--primary);
}

.testi-container .testi-card p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
}

.testi-container .testi-card h4 {
    font-size: 18px;
    font-weight: 500;
}




/* --------  Contact Section CSS  -------- */

.contact-container {
    width: 100%;
    padding: 0 20%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container .fullName {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#email {
    margin: 20px 0;
}

.contact-container input {
    outline: none;
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1.5px solid var(--para);
    font-size: 15px;
    letter-spacing: .5px;
    transition: all .2s;
}

.contact-container textarea {
    width: 100%;
    outline: none;
    padding: 15px;
    border-radius: 5px;
    border: 1.5px solid var(--para);
    font-size: 15px;
    letter-spacing: .5px;
    margin-bottom: 30px;
    transition: all .2s;
}

input:focus,
textarea:focus {
    border: 1.5px solid var(--primary);
}

.contact-container .contact-btn {
    padding: 11px 30px;
    border: 1.5px solid var(--primary);
}




/* --------  Footer Section CSS  -------- */
.footer-section {
    width: 100%;
    height: auto;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary);
}

.footer-section .social-links {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.social-links .link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 15px;
    display: grid;
    place-items: center;
    transition: all .4s ease;
    cursor: pointer;
}

.social-links .link:hover {
    background-color: #fff;
}

.social-links .link:hover i {
    color: var(--primary);
}

.social-links .link i {
    color: #fff;
    transition: all .4s ease;
}

.footer-section .tagline {
    font-size: 17px;
    color: #fff;
}




/* ------- Media Queries ------- */

@media (max-width:1150px) {

    /* .abukout-section, .service-section, */
    .portfolio-section,
    .testi-section {
        padding: 110px 8%;
    }

    .navbar {
        flex-direction: row;
        left: 30%;
        top: 97%;
        transform: translateX(-50%);
        padding: 18px 25px;
    }

    .navbar .navlink {
        margin: 0 12px;
    }
}

@media (max-width:900px) {

    .about-section,
    .service-section,
    .portfolio-section,
    .testi-section {
        padding: 110px 13%;
    }

    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .about-container {
        align-items: flex-start;
        flex-direction: column;
    }

    .aboutimg-box {
        margin-bottom: 45px;
    }

    .service-container,
    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .testi-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-container {
        padding: 0 12%;
    }
}

@media (max-width:740px) {
    
    .navbar {
        
        left: 20%;
        top: 97%;
        
    }

    .about-section,
    .service-section,
    .portfolio-section,
    .testi-section {
        padding: 110px 8%;
    }

    .about-container {
        flex-direction: column;
    }

    .contact-container {
        padding: 0 8%;
    }
}


@media (max-width:590px) {

    .navbar {
        
        left: 10%;
        top: 97%;
        
    }

    .about-section,
    .service-section,
    .portfolio-section,
    .testi-section {
        padding: 110px 13%;
    }

    .about-container {
        flex-direction: column;
    }

    .service-container,
    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .fullName {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 440px){

        .navbar {
        
            left: 0%;
            top: 97%;
            
        }
    
    }
}
